* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Figtree", sans-serif;
  background-color: hsl(47, 88%, 63%);
}

.card {
  border: 1px solid hsl(0, 0%, 7%);
  width: 384px;
  height: 522px;
  max-width: 1440px;
  margin: 220px auto;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.90);

  @media only screen and (max-width: 440px) {
    width: 327px;
    height: 501px;
  }
}

.blog-image {
  width: 336px;
  height: 200px;
  border-radius: 20px;
  margin: 24px 24px 0 24px;
  background-image: url(../assets/images/illustration-article.svg);
  background-size: cover;
  background-position: center;

  @media only screen and (max-width: 440px) {
    width: 279px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 24px;
  }
}

.wrapper {
  margin: 24px;

  @media only screen and (max-width: 440px) {
    margin: 4px 24px;
  }
}

.tag {
  font-size: 14px;
  font-weight: 700;
  background-color: hsl(47, 88%, 63%);
  display: inline-block;
  padding: 6px 14px;
  border-radius: 4px;

  @media only screen and (max-width: 440px) {
    font-size: 12px;
  }
}

.date {
  margin-top: 14px;
  font-size: 14px;

  @media only screen and (max-width: 440px) {
    font-size: 12px;
  }
}

.title {
  margin-top: 16px;
  font-size: 23px;
  font-weight: 800;

  @media only screen and (max-width: 440px) {
    font-size: 19px;
    font-weight: 700;
  }
}

.description {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 380;
  color: hsl(0, 0%, 50%);
  line-height: 1.5;

  @media only screen and (max-width: 440px) {
    font-size: 14px;
  }
}

.row {
  display: flex;
  align-items: center;
}

.avatar {
  margin-top: 24px;
  width: 32px;
}

.name {
  margin-top: 24px;
  margin-left: 12px;
  font-size: 14px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
